

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.title{
		padding: 2rem;
	}
	.title h1{
		font-size: 4rem;
	}

	.container-faq{
		display: flex;
		flex-direction: row;
	    justify-content: space-evenly;
	    text-align: left;
	    height: auto;
		/*overflow: hidden;*/
		color: white;
	}

	/*.advertisement{
		border: 1px solid;
		width: 30%;
	}*/

	.faq_flex{
		display: flex;
		flex-direction: column;
		padding: 2rem 4rem;
	}

	.faq{
	    text-align: center;
	    text-align: left;
	    margin-bottom: 2rem;
	}

	.question b{
		font-size: 2rem;
		padding-bottom: 1rem;
	}

	.answer p{
		font-size: 1.8rem;
		padding-bottom: 1rem;
		/*padding-left: 1rem;*/
	}

	.Disclamer{
		padding: 2em;
	}
	.Disclamer h2{
		font-size: 1.5rem;
	}
	.Disclamer p{
		font-size: 1rem;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.title{
		padding: 2rem;
	}
	.title h1{
		font-size: 4rem;
	}

	.container-faq{
		display: flex;
		flex-direction: row;
	    justify-content: space-evenly;
	    text-align: left;
	    height: auto;
		/*overflow: hidden;*/
		color: white;
	}

	/*.advertisement{
		border: 1px solid;
		width: 30%;
	}*/

	.faq_flex{
		display: flex;
		flex-direction: column;
		padding: 2rem 5rem;
	}

	.faq{
	    text-align: center;
	    text-align: left;
	    margin-bottom: 2rem;
	}

	.question b{
		font-size: 2rem;
		padding-bottom: 1rem;
	}

	.answer p{
		font-size: 1.8rem;
		padding-bottom: 1.5rem;
		padding-left: 1rem;
	}

	.Disclamer{
		padding: 1em;
	}
	.Disclamer h2{
		font-size: 2.5rem;
	}
	.Disclamer p{
		font-size: 1rem;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
	.title{
		padding: 2rem;
	}
	.title h1{
		font-size: 4rem;
	}

	.container-faq{
		display: flex;
		flex-direction: row;
	    justify-content: space-evenly;
	    text-align: left;
	    height: auto;
		/*overflow: hidden;*/
		color: white;
	}

	/*.advertisement{
		border: 1px solid;
		width: 30%;
	}*/

	.faq_flex{
		display: flex;
		flex-direction: column;
		padding: 2rem 5rem;
	}

	.faq{
	    text-align: center;
	    text-align: left;
	    margin-bottom: 5rem;
	}

	.question b{
		font-size: 2rem;
		padding-bottom: 1rem;
	}

	.answer p{
		font-size: 1.8rem;
		padding-bottom: 2rem;
		padding-left: 3rem;
	}

	.Disclamer{
		padding: 2em;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.title{
		padding: 2rem;
	}
	.title h1{
		font-size: 4rem;
	}

	.container-faq{
		display: flex;
		flex-direction: row;
	    justify-content: space-evenly;
	    text-align: left;
	    height: auto;
		/*overflow: hidden;*/
		color: white;
	}

	/*.advertisement{
		border: 1px solid;
		width: 30%;
	}*/

	.faq_flex{
		display: flex;
		flex-direction: column;
		padding: 2rem 10rem;
	}

	.faq{
	    text-align: center;
	    text-align: left;
	    margin-bottom: 5rem;
	}

	.question b{
		font-size: 2rem;
		padding-bottom: 1rem;
	}

	.answer p{
		font-size: 2rem;
		padding-bottom: 2rem;
		padding-left: 3rem;
	}

	.Disclamer{
		padding: 3em;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.title{
		padding: 2rem;
	}
	.title h1{
		font-size: 4rem;
	}

	.container-faq{
		display: flex;
		flex-direction: row;
	    justify-content: space-evenly;
	    text-align: left;
	    height: auto;
		/*overflow: hidden;*/
		color: white;
	}

	/*.advertisement{
		border: 1px solid;
		width: 30%;
	}*/

	.faq_flex{
		display: flex;
		flex-direction: column;
		padding: 2rem 10rem;
	}

	.faq{
	    text-align: center;
	    text-align: left;
	    margin-bottom: 5rem;
	}

	.question b{
		font-size: 2rem;
		padding-bottom: 1rem;
	}

	.answer p{
		font-size: 2rem;
		padding-bottom: 2rem;
		padding-left: 3rem;
	}

	.Disclamer{
		padding: 5em;
	}
}



