

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .feed-slot{
        width: 100%;
    }

    .feed-container{
        /*justify-content: center;*/
        width: 30rem;
        margin: 2rem auto;
        /*border: 1px solid black;*/
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 5px 5px 15px -1px grey;
    }

    .feed-head{
        padding: .5rem;
        background-color: #08adbf;
        color: white;
        /*border: 1px solid;*/
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 1.5rem;
    }

    .feed-body{
        height: auto;
        max-height: 20rem;
        overflow-y: scroll;

    }
    .feed-body a{
        color: black;
        text-decoration: none;
    }

    .article{
        border-bottom: .5px solid #dedede;
        padding: .5rem;
        text-align: left;
        font-size: 1rem;
    }

    .article:hover{
        background-color: #e6e8e8;                    
    }    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .feed-slot{
        width: 100%;
    }

    .feed-container{
        /*justify-content: center;*/
        width: 50rem;
        margin: 2rem auto;
        /*border: 1px solid black;*/
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 5px 5px 15px -1px grey;
    }

    .feed-head{
        padding: .5rem;
        background-color: #08adbf;
        color: white;
        /*border: 1px solid;*/
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 1.5rem;
    }

    .feed-body{
        height: auto;
        max-height: 20rem;
        overflow-y: scroll;

    }
    .feed-body a{
        color: black;
        text-decoration: none;
    }

    .article{
        border-bottom: .5px solid #dedede;
        padding: .5rem;
        text-align: left;
        font-size: 1rem;
    }

    .article:hover{
        background-color: #e6e8e8;                    
    }  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .feed-slot{
        width: 100%;
    }

    .feed-container{
        /*justify-content: center;*/
        width: 70rem;
        margin: 2rem auto;
        /*border: 1px solid black;*/
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 5px 5px 15px -1px grey;
    }

    .feed-head{
        padding: .5rem;
        background-color: #08adbf;
        color: white;
        /*border: 1px solid;*/
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 1.8rem;
    }

    .feed-body{
        height: auto;
        max-height: 20rem;
        overflow-y: scroll;

    }
    .feed-body a{
        color: black;
        text-decoration: none;
    }

    .article{
        border-bottom: .5px solid #dedede;
        padding: .5rem;
        text-align: left;
        font-size: 1.3rem;
    }

    .article:hover{
        background-color: #e6e8e8;                    
    }  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .feed-slot{
        width: 100%;
    }

    .feed-container{
        /*justify-content: center;*/
        width: 75rem;
        margin: 2rem auto;
        /*border: 1px solid black;*/
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 5px 5px 15px -1px grey;
    }

    .feed-head{
        padding: 1rem;
        background-color: #08adbf;
        color: white;
        /*border: 1px solid;*/
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 2rem;
    }

    .feed-body{
        height: auto;
        max-height: 30rem;
        overflow-y: scroll;

    }
    .feed-body a{
        color: black;
        text-decoration: none;
    }

    .article{
        border-bottom: .5px solid #dedede;
        padding: 1rem;
        text-align: left;
        font-size: 1.5rem;
    }

    .article:hover{
        background-color: #e6e8e8;                    
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .feed-slot{
        width: 100%;
    }

    .feed-container{
        /*justify-content: center;*/
        width: 100rem;
        margin: 2rem auto;
        /*border: 1px solid black;*/
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 5px 5px 15px -1px grey;
    }

    .feed-head{
        padding: 1rem;
        background-color: #08adbf;
        color: white;
        /*border: 1px solid;*/
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 2rem;
    }

    .feed-body{
        height: auto;
        max-height: 30rem;
        overflow-y: scroll;

    }
    .feed-body a{
        color: black;
        text-decoration: none;
    }

    .article{
        border-bottom: .5px solid #dedede;
        padding: 1rem;
        text-align: left;
        font-size: 1.5rem;
    }

    .article:hover{
        background-color: #e6e8e8;                    
    }
} 