

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.terms{
	padding: 8px 50px;
	color: black;
	text-align: left;
	}

	.terms h2{
		margin-top: 20px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.terms{
	padding: 8px 70px;
	color: black;
	text-align: left;
	}

	.terms h2{
		margin-top: 20px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.terms{
	padding: 8px 100px;
	color: black;
	text-align: left;
	}

	.terms h2{
		margin-top: 50px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {...}*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {...} */